.btn-custom {
  background-color: rgb(73, 237, 231);
  padding: 20px;
  min-width: 150px;
  font-size: 1.2rem;
  border-radius: 20px;
  color: black;
}

.btn-hover-1:hover {
  background-color: rgb(11, 199, 193);
}
.btn-custom-2 {
  background-color: white;
  padding: 10px 30px;
  min-width: 150px;
  font-size: 1.1rem;
  border-radius: 25px;
  color: black;
}
.btn-custom-2:hover {
  background-color: black;
  color: white;
}
