.contact-section {
  background-color: black;
  padding-bottom: 100px;
}
.contact-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

input,
textarea {
  display: block;
  width: 100%;
  min-height: 60px;
  padding: 10px 5px;
  outline: none;
  border-radius: 10px;
  border: 1px solid var(--gray-1);
}
.custom-card {
  background-color: var(--black-2);
  padding: 30px;
  max-width: 400px;
  border-radius: 10px;
}
.custom-card.contact {
  gap: 30px;
  align-items: center;
}
.icon-wrapper {
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(37, 37, 37);
}
.icon-wrapper.blue {
  background-color: rgb(33, 33, 49);
  color: rgb(77, 136, 218);
}
.icon-wrapper.purple {
  background-color: rgb(49, 21, 49);
  color: rgb(213, 21, 213);
}
.contact-label {
  text-align: left;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}
.contact-form button {
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 30px;
}
.contact-form button:hover {
  background-color: white;
  color: black;
}
.contact-form {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .custom-card {
    background-color: var(--black-2);
    padding: 30px;
    max-width: 100%;
    border-radius: 10px;
  }
}
